{% extends 'base.html.twig' %}
{% block body %}
    <!-- Experience-->
    <div class="container mt-5">
        <h2 class="mb-5">Expériences</h2>
        {% for comp in competences %}
            <div class="row align-items-center mt-3">
                <div class="col-sm-2">
                    <img class="img-fluid img-profile mx-auto mb-2" src="{{ vich_uploader_asset(comp, 'imageFile') }}">
                </div>
                <div class="subheading col-sm-8">
                    <h4 class="mb-0">{{ comp.nomCompetence }}</h4>
                    <p>Niveau : {{ comp.niveauCompetence }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="mb-0"></h3>
                    <p></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}