{% extends 'base.html.twig' %}
{% block body %}

    <div class="container mt-5">
        <h2 class="mb-5">{{ projet.nomProjet }}</h2>
            <div class="row">
                <p>{{ projet.descriptionProjet }}</p>
            </div>
    </div>
{% endblock %}