{% extends 'base.html.twig' %}
{% block body %}
<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Projets</h2>
        {% for projet in projets %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    {#<a href="{{ path('projet.show', {slug: projet.slugProjet, id: projet.id}) }}">#}
                    <a href="">
                        <h3 class="mb-0">{{ projet.nomProjet }}</h3>
                    </a>
                    <div>{{ projet.descriptionProjet }}</div>
                </div>

            </div>
        {% endfor %}
    </div>
</section>
<hr class="m-0" />
{% endblock %}